@media (max-width: 1024px){
  h3{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #282C37;
    display: inline-block;
    background-image: url(/icons/Polygon\ 2.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    height: 112px;
    padding-left: 27px;
    padding-top: 35px;
  }
  
  
  .secondSection-content{
    display: grid;
    grid-template-columns: 345px 345px ;
    grid-template-rows: 249px ;
    column-gap: 15px;
    row-gap: 15px;
    margin-left: 32px;
    position: absolute;
  }
  .secondSection_name{
    position: relative;
    left: 42px;
   
  }
  .secondSection-block{
    background-color: #3BB6AE;
    border-radius: 20px;
    
  }
  .secondSection-block:hover{
    background-color: #34A19B;
    transition: 0.2s;
  }
 .secondSection-block:first-child{
    grid-row-start: 1;
    grid-row-end: 1;
    
  }
  .secondSection-block:nth-child(2){
    grid-column-start:2;
    grid-column-end: 2;
  }
  p{
    font-weight: 600;
    color: white;
    font-size: 18px;
    text-align: center;
  }
  #block-text_big{
    padding-top: 24px;
  }
  #block-text_long{
    margin-top: -15px;
    margin-left: -9px;
  }
  .block-text_normal{
    padding-top: 22px;
    padding-bottom: 55px;
  }
  .block-text_original{
    padding-top: 22px;
    padding-bottom: 22px;
  }
  #report{
    padding-top: 51px;
    padding-left: 135px;
    width: 69px;
    height: 58px;
  }
  .secondSection-blockContent{
    display: block;
  }
  #idea{
    width: 61px;
    height: 60px;
    padding-top: 51px;
    padding-left: 135px;
  }
  #search{
    padding-top: 52px;
    padding-left: 141px;
    width: 63px;
    height: 60px;
  }
  #startup{
    padding-top: 53px;
    padding-left: 135px;
  }
  
  
  
  
}


