@import url(/styles.css/ipadmini.css);

h3{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #282C37;
  display: inline-block;
  background-image: url(/icons/Polygon\ 2.png);
  background-repeat: no-repeat;
  background-position: left 0px;
  height: 112px;
  padding-left: 50px;
  padding-top: 35px;
}


.secondSection-content{
  display: grid;
  grid-template-columns: 381px 381px 381px ;
  grid-template-rows:  164px 381px ;
  column-gap: 15px;
  row-gap: 15px;
  margin-left: 134px;
  position: absolute;
}
.secondSection_name{
  position: relative;
  left: 135px;
 
}
.secondSection-block{
  background-color: #3BB6AE;
  border-radius: 20px;
  
}
.secondSection-block:hover{
  background-color: #34A19B;
  transition: 0.2s;
}
.secondSection-block:first-child{
  grid-row-start: 1;
  grid-row-end: 3;
  
}
.secondSection-block:nth-child(2){
  grid-column-start:2 ;
  grid-column-end: 4;
}
p{
  font-weight: 600;
  color: white;
  font-size: 18px;
  text-align: center;
}
#block-text_big{
  padding-top: 12px;
}
#block-text_long{
  padding-top: 60px;
  padding-left: 15px;
}
.block-text_normal{
  padding-top: 30px;
}
.block-text_original{
  padding-top: 23px;
}
#report{
  padding-top: 165px;
  padding-left: 142px;
  width: 97px;
  height: 81px;
}
.secondSection-blockContent{
  display: flex;
}
#idea{
  width: 84px;
  height: 82px;
  padding-top: 41px;
  padding-left: 99px;
}
#search{
  padding-top: 78px;
  padding-left: 157px;
}
#startup{
  padding-top: 90px;
  padding-left: 157px;
}



